.row.kitten-choice-headers
  .span6 This Kitty?
  .span6 Or this Kitty?

.row.kitten-images
  .span6
    %a{href: "#"}
      .image{style: "background-image: url('http://kittenwar.com/c_images/2010/09/23/194291.1.jpg')"}
  .span6
    %a{href: "#"}
      .image{style: "background-image: url('http://www.ontarionature.org/onnature/images/foxsquirrelimage.jpg')"}

.kitten-images-background

.row.kitten-names
  .span6
    .kitten-name Bob
  .span6
    .kitten-name Joe

.row.kitten-results

.row
  .span12
    .btn.btn-primary.btn-large.draw-btn Draw
