.row
  .span12
    %h3.sub-header Choose Kittys for Science!


.row.kitten-choice-headers
  .span6
    This Kitty?

  .span6
    Or this Kitty?

.row.kitten-images
  .span6
    .image{style: "background-image: url('http://kittenwar.com/c_images/2010/09/23/194291.1.jpg')"}
  .span6
    .image{style: "background-image: url('http://kittenwar.com/c_images/2010/09/23/194291.1.jpg')"}
.kitten-images-background

.row.kitten-results
  .span12
    %span.results-0 42%
    of the other scientists think your
    %span.label.label-important wrong
    (oh no!). Perhaps you should try adding more science?
  