.row.door-log-list
  .span12
    %table.table.table-striped
      - (0..4).each do |a|
        %tr
          %td.avatar-td
            .avatar
          %td.username TheOtherRob
          %td.total-entries 500 entries to date
          %td.date last entered at 2pm today
