.row.page-header
  %h1
    HackTouch
    %small now with 110% more 2.0

.row.music-player
  .span12
    .music-title
      %i.icon-headphones
      %span.song-name No connection to music player
    .volume-level
      %i.icon-volume-down
      .progress.progress-success.volume-level-progress
        .bar{style: "width: 40%"}
      %i.icon-volume-up

    .btn-group
      %button.btn.btn-large.audio-play
        %i.icon-play
        Play
      %button.btn.btn-large.audio-stop
        %i.icon-stop
        Stop

.row.news
  .span12.article
    =partial "news_item", :object => @news_items.first, :locals => {:index => "home"}

.row
  .streetcars.span12
    .streetcar.north
      .icon-arrow-up
      Dufferin NB:
      .time#timen= #JS set
.row
  .streetcars.span12
    .streetcar.west
      .icon-arrow-down
      Queen WB:
      .time#timew= #JS set

.row
  .streetcars.span12
    .streetcar.east
      .icon-arrow-down
      Queen EB:
      .time#timee= #JS set
