.row.songs-list
  .span12
    %table.table.table-striped.news-table
      - @news_items.each_with_index do |item, index|
        %tr.article
          %td
            =partial "news_item", object: item, locals: { index: index }
