.row.weather-report
  .span3
    .well
      .icon.medium-heavy-clouds-day
      %h3 Today
      %table.table
        %tr
          %th High
          %td 14 degrees
        %tr
          %th Low
          %td 8 degrees
  .span3
    .well
      .icon.medium-heavy-clouds-night
      %h3 Tonight
      %table.table
        %tr
          %th High
          %td 15 degrees
        %tr
          %th Low
          %td 6 degrees
  .span3
    .well
      .icon.light-clouds-day
      %h3 Tomorrow
      %table.table
        %tr
          %th High
          %td 12 degrees
        %tr
          %th Low
          %td 7 degrees
  .span3
    .well
      .icon.light-fog-day
      %h3 Friday
      %table.table
        %tr
          %th High
          %td 9 degrees
        %tr
          %th Low
          %td 4 degrees
