!!!
%html{:lang => "en"}
  %head
    !=css
    %meta{:charset=>"utf-8"}
    %meta{:"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title Hack Touch

  %body.main-site
    = yield
    !=js
